.vs/
NeedDesk.Api/obj/
NeedDesk.Application/obj/
NeedDesk.Infra.Data/obj/
NeedDesk.Domain/obj/
NeedDesk.ConsoleApp/obj/
NeedDesk.Infra.CrossCutting/obj/
NeedDesk.Application.Tests/obj/
NeedDesk.Infra.Data.Tests/obj/
NeedDesk.Api.Tests/obj/

NeedDesk.Api/bin/
NeedDesk.Application/bin/
NeedDesk.Infra.Data/bin/
NeedDesk.Domain/bin/
NeedDesk.ConsoleApp/bin/
NeedDesk.Infra.CrossCutting/bin/

NeedDesk.Infra.Data.Tests/bin/
NeedDesk.Application.Tests/bin/
NeedDesk.Api.Tests/bin/