.vs/
NeedDesk.Application/obj/
NeedDesk.Infra.Data/obj/
NeedDesk.Domain/obj/
NeedDesk.Infra.Data.Tests/obj/
NeedDesk.ConsoleApp/obj/

NeedDesk.Application/bin/
NeedDesk.Infra.Data/bin/
NeedDesk.Domain/bin/
NeedDesk.Infra.Data.Tests/bin/
NeedDesk.ConsoleApp/bin/